/* 클래스 + 유형 선택자 */
.ul a {
    color: yellow;
  }
  
  /* 클래스 선택자 */
  .click {
    color: green;
    background: black;
  }
  
  /* 유형 선택자 */
  html body main section article div ul li p strong span a {
    background: purple;
    color: blue;
  }