<!-- templates/admin/base_site.html -->
{% extends "admin/base.html" %}

{% block title %}{{ title }} | My Site{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Polls Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block messages %}
{% if messages %}
    <ul class="messagelist">{% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}</ul>
{% endif %}
{% endblock messages %}

{% block sidebar %}
<div class="module">
    <h2>My Sidebar</h2>
    <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
    </ul>
</div>
{% endblock %}

{% block footer %}
<div id="footer"></div>
{% endblock %}